.odd {
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
    background-color: #FFA7A7;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: #80FF80;
    font-size: 24px;
    font-weight: bold;
}